/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 31, 2022, 1:14:51 PM
    Author     : abc
*/
@import url('https://css.gg/shopping-cart.css');
body{
padding: 0px;
margin: 0px;
background-color: #efefef;

}

.topnav{
position: fixed;
box-sizing: border-box;
height: 75px;
width: 100%;
background-color: rgba(20, 17, 37, 1);
display: block;
left: 0px;
top: 0px;
  z-index: 9;
border: 3px solid #000000;
}
#home{
    float:left;
}

.topnav div{
    float: left;
  
}

.topnav a{
    padding: 20px;
    color: white;
    text-align: center;
}
 .topnav input[type=text] {
width: 661px;
height: 40px;
 }
 #searchdiv{
     width: 50%;
     padding: 17px 00px 15px 40px;
    text-align:center;
 }
 #search{
     padding: 0px 0px 0px 0px;
 }
 #account{
     color: white;
     padding: 20px 20px 20px 20px;
     float: right;
 }
 #contact{
     text-decoration:none;
     color: white;
     font-family: 'Poppins';
     text-align: center;
     padding: 20px 20px 20px 20px;
     float: right;
 }
 #groupAC{
     float: right;
     padding: 0px 0px 0px 180px;
 }

.dropbtn {
   background-color:rgba(20, 17, 37, 1);
   color: white;
   font-family: 'Poppins';
  padding: 20px 20px 20px 20px;
  font-size: 17px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
      left: 80px;
    top: 53px;
    font-family: 'Poppins';
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover 
{background-color: #ddd;}
.dropdown:hover .dropdown-content 
{display: block;}
.dropdown:hover .dropbtn 
{opacity: 0.6}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.product-card{
     width: 80%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  display: block;
    margin: 10px;
  border-radius: 15px 15px 15px 15px; 
}

.product-card .img{
        width: 100%;
    height: auto;
    display: block;
    padding-left: 0px;
    border-radius: 25px;
    padding-right: 12px;
    padding-top: 15px;
    
}
.product-card .name{
    
   padding: 0px;
    margin: 0px;
    padding-top: 15px;
    font-family: 'Poppins';
    font-size: 20px;
    padding-bottom: 0px;
}

.product-card .desc{
        margin-bottom: 0px;
    padding-top: 3px;
    font-family: 'Roboto';
}
.product-card .price{
    
        font-family: 'Poppins';
    font-size: 25px;
}
.grid-item{
 
}
.shop-item-image {
  height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 50%);
}



.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card {
 padding: 2px 16px;
 display: block;
}
button{
font-family: 'Poppins';
    background: orange;
    color: white;
        border-radius: 5px;
    border: none;
    margin-left: 146px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    }

.banner img{
  width: 100%;
  height: auto;
  margin-top: 80px;
}
#myBtn{
    float:right;
    margin-left: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
    
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  font-family: 'Poppins';
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgb(44 43 42 / 51%); /* Black w/ opacity */
}

input[type="submit"] {
    background-color: orange;
    font-family: 'Poppins';
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
      padding-right: 140px;
    font-size: 40px;
  
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}